<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>To Do List</title>
    </head>
    <body>
        <div class="container">
        <h1>{{ category.getName }}</h1>

        {% if tasks is not empty %}
            <p>Here are the tasks</p>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.getDescription }} is due by: {{ task.getDuedate }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    <h4>Add a task</h4>

    <form action ='/tasks' method ='post'>
        <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">
        <label for='description'>Task Description</label><br>
        <input id='description' name='description' tyep='text' required>
        <br>
        <label for='duedate'>Due Date (YYYY-MM-DD)</label><br>
        <input id='duedate' name='duedate' type='text' maxlength=10 required>
        <br>
        <button type='submit'>Add task</button>
    </form>
    <form action='/delete_tasks' method='post'>
        <button type='submit'>Delete tasks</button>
    </form>

    <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
