<html>
    <head>
        <title>To Do List</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
        <h1>Welcome to the Task List</h1>

        <form action="/tasks" method="post">
            <label for="description">Task name:</label>
            <input id="description" name="description" type="text">

            <button type="submit">Add Task</button>
        </form>

        {% if tasks is not empty %}
            <p>Here are all your tasks</p>
            <ul>
                {% for task in tasks %}
                    <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}</a>{% if task.getStatus == 0 %}<p> - Active</p>{% else %}<p> - Completed</p>{% endif %}</li>
                {% endfor %}
            </ul>

            <form action='/delete_tasks' method='post'>
                <button type='submit'>Clear</button>
            </form>

        {% else %}
            <p>There are no tasks yet!</p>
        {% endif %}

            <p><a href='/'>Home</a></p>

        </div>
    </body>
</html>
